body{
    background-image: url(../img/darkwood_bg.jpg);
}
#row1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 112px;
    letter-spacing: 0.1em;
    color: #f4f4f0;
}
#col1, #col2 {
    background-image: url(../img/cb.jpg);
    border-style: ridge;
    border-color: whitesmoke;
    margin-top: 3em;
    margin-bottom: 3em;
}
#col1, #col2, #row3 {
    font-family: 'Permanent Marker', cursive;
    color: #f4f4f0;
}
/* google fonts
font-family: 'Modak', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive; */